[submodule "Glimmer/vendor/spdlog"]
	path = Glimmer/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Glimmer/vendor/GLFW"]
	path = Glimmer/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Glimmer/vendor/imgui"]
	path = Glimmer/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Glimmer/vendor/glm"]
	path = Glimmer/vendor/glm
	url = https://github.com/g-truc/glm.git
